.credit{
    position: fixed;
    text-justify: inter-ideograph;
    bottom: 0;
}

.showing{
   display: contents;
}

.hiding{
    display: none;
}

.container-general{
    padding-top: 2em;
    .results {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        img.card-img-top{
            max-width: 250px;
        }
        }
    .sectionNavigation button img{
        filter: invert(1);
    }
        .card-body > div.card-title {
            max-width: 220px;
          
            text-overflow: ellipsis; 
        }
        .controls{
            select{
                background-color: rgba(248, 231, 204, 0.432);
                border-radius: 8px;
                box-shadow: 2px 2px 3px #949393;
                option{
                    padding:10px;
                    border-radius: 8px !important;
                }
            }
        } 
        .productCard:hover{
            border:1px solid rgb(187, 186, 186);
            box-shadow: 1px 1px 2px 2px #d1d0d0;
            border-radius: 8px;
        }
        p.rating {
            font-weight: bold;
            span{
                font-weight: bolder;
            }
        }
}
.productsContainer-light{
    background-color:rgba(241, 237, 229, 0.61);
}

.productsContainer-dark{
    background:radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    .resultsSection .top > div,.resultsSection .top img.darken{
       filter: invert(100%);
    }
    div.card-title{
        color:rgb(187, 186, 186)
    }
    p.card-text{
        color:rgb(187, 186, 186)
    }
    p.location > span > img{
        filter: invert(100%);
    }
}