@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

.light{
    background-color: #c7f0f0
}
.dark {
    background-color: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    p{
        text-shadow: 2px 2px 5px #fcfcfc;
        color: #fcfcfc;
    }
    li.logos:nth-of-type(3), li.logos:nth-of-type(5){
        img{
            filter: invert(100%);
        }
    }
}
#mobile-nav{
    display: none;
}
.App-header {
    padding-left: 5%;
    padding-right: 5%;
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        a{
            text-decoration: none;
        }
    }
   p{
    font-family: 'Girassol', cursive;
    font-size: larger;
    text-shadow: 2px 2px 5px #535353;
   }
   nav.rightImgs ul{
       display: flex;
       align-items: center;
       >li:last-child img{
           max-width: 20px;
       }
   }
   ul li{
       list-style-type: none;
       img{
        cursor: pointer;
       }
   }
   li.logos{
       img{
           max-width: 75px;
           margin-right: 2em;
       }
   }
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5px;
    left: 5px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #menuToggle span
  {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #535353;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  a {
    text-decoration: none;
    color: #1E1E23;
    opacity:1;
    font-family: 'work sans', sans serif;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
  }
  a:hover {
    opacity:0.5;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
  
  #menu
  {
    position: absolute;
    width: 200px;
    height: 100vh;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #c7f0f0; // dark-mode
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 10px 0;
    transition-delay: 2s;
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }

  @media screen and (max-width: 450px) {
      .App-header nav ul {
        li.store-icons{
            min-width: 300px;
            display: none;
       }        
    }
    #mobile-nav{
        display: block;
    }
}